@if (copyable()) {
  <button type="button" class="key-value-copy" (click)="copy()">
    <span class="visually-hidden">Copy {{ label() }}</span>
  </button>
  <span class="visually-hidden" role="status">{{ copied() ? label() + ' copied' : '' }}</span>
}
@if (icon(); as icon) {
  <ng-icon class="key-value-icon" [name]="icon" aria-hidden="true" />
}
<span class="key-value-label"
  ><span class="key-value-text">{{ label() }}</span
  ><ng-content select="[keyValueLabel]"
/></span>
@if (loading()) {
  <span class="key-value-skeleton" aria-hidden="true"></span>
} @else {
  @if (copied()) {
    <span class="key-value-copied" aria-hidden="true">Copied</span>
  }
  <span #value class="key-value-value" [hidden]="copied()"><ng-content /></span>
}
<span class="key-value-end"><ng-content select="[keyValueEnd]" /></span>
