@use 'tokens';
@use 'mixins';
:host {
  @include mixins.viewport-page;
}
.paste-text-form {
  display: flex;
  flex-direction: column;
  gap: tokens.space(4);
  padding-block: tokens.space(4) tokens.space(7);
  label {
    margin: 0;
  }
}
