@use 'tokens';
@use 'typography';
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: tokens.space(3);
  &:empty {
    display: none;
  }
  > div[role='status'] {
    align-self: stretch;
    &:empty {
      display: none;
    }
  }
}
.import-steps {
  margin-bottom: tokens.space(1);
}
