@use 'tokens';
@use 'mixins';
:host {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: tokens.radius(tile);
  background: tokens.color(secondary-muted);
  color: tokens.color(primary-muted);
}
:host(.size-sm) {
  width: tokens.size(thumbnail-sm);
  height: tokens.size(thumbnail-sm);
  @include mixins.icon-size(md);
}
:host(.size-md) {
  width: tokens.size(thumbnail-md);
  height: tokens.size(thumbnail-md);
  @include mixins.icon-size(lg);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
